.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.add-content {
	padding: 50px 0;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.input-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.input-wrapper {
		input {
			width: 34%;
			padding: 10px;
			border-radius: 5px;
			background: var(--secondary);
			border: 2px solid #fffa61;
			font-size: 1.25rem;
			transition: all 0.3s ease-in;
			cursor: pointer;
			color: var(--primary);
			&:focus {
				color: var(--white);
				padding-left: 40px;
				background: var(--primary);
				width: 100%;
				cursor: text;

				&::placeholder {
					color: var(--secondary);
				}
			}

			&::placeholder {
				color: var(--primary);
			}
		}

		.loading {
			position: absolute;
			left: 0;
			height: 20px;
			width: 20px;
			border: 2px solid var(--secondary);
			border-right: 2px solid transparent;
			border-radius: 50%;
			color: var(--secondary);
			font-weight: 600;
			margin: 5px 10px;
			animation: Loading-spin infinite 0.4s linear;
		}
	}
}

.anim {
	animation: animate 0.7s ease-in-out alternate;
}
@keyframes animate {
	from {
		transform: translate(-100px);
		opacity: 0;
	}
	to {
		transform: translate(0px);
		opacity: 1;
	}
}

@keyframes Loading-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.no-movies {
	color: #c4c4c4;
	font-size: 3rem;
	text-align: center;
}

.results {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	li {
		list-style: none;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
