.button {
	padding: 7px 12px;
	cursor: pointer;
	margin: 20px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 13px;
	border: 2px solid #fffa61;
	background: transparent;
	color: #fffa61;
	box-shadow: 0px 1px 5px #fff941;
	transition-property: background, color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	&:active {
		transform: scale(0.95);
	}
	&:hover {
		box-shadow: 0px 1px 5px #fffdce;
		background: #fffa61;
		color: #1c1c1c;
	}
}
.primary {
	background: #fffa61;
	color: #1c1c1c;
	box-shadow: 0px 1px 5px #fffdce;

	&:hover {
		box-shadow: 0px 1px 5px #fff941;
		background: transparent;
		color: #fffa61;
	}
}
