header {
	// background-color: var(--primary);
	.inner-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
	.a,
	a {
		color: var(--white);
		font-size: 1.25rem;
		text-decoration: none;
		transition: all 0.3s ease;
	}
	.a:hover {
		opacity: 0.7;
	}
	.brand a {
		font-weight: 700;
		font-size: 1.5rem;
	}

	.nav-links {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		align-items: center;
	}
	.nav-links li {
		display: inline-block;
		margin-right: 30px;
	}
	.nav-links li:last-child {
		margin-right: 0;
	}
}

@keyframes pageRoute {
	from {
		transform: translate(1000px);
		opacity: 1;
	}
	to {
		transform: translate(0px);
		opacity: 1;
	}
}
