$primary: #fffa61;
$background: #1c1c1c;
:root {
	--primary: #00172b;
	--secondary: #fffa61;
	--white: #fff;
	--danger: #f33e3e;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	background: var(--primary);
}

.btn {
	padding: 10px 15px;
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	border: none;
	font-size: 1rem;
	transition: all 0.3s ease;
	line-height: 1.1;
	&:hover {
		background-color: $primary;
		opacity: 0.7;
		cursor: pointer;
	}
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

input:focus {
	outline: none;
}

/* Header Styles */

/* Add Page */

.result-card {
	display: flex;
	margin-bottom: 20px;
	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.info .title {
		font-size: 1.25rem;
		color: var(--secondary);
		font-weight: 600;
		margin: 0;
	}
	.info .release-date {
		font-size: 1.25rem;
		font-weight: 300;
		color: #c4c4c4;
		margin: 0;
	}
	.controls button {
		margin-right: 10px;
	}
}

.result-card .poster-wrapper img,
.filler-poster {
	width: 75px;
	height: 113px;
	background-color: #dbdada;
	border-radius: 5px;
	margin-right: 15px;
	display: block;
	color: transparent;
}

/* Movie Page */
.movie-page {
	padding: 30px 0;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}
}

.count-pill {
	display: block;
	background-color: var(--secondary);
	padding: 5px 15px;
	font-size: 1.125rem;
	font-weight: 600;
	border-radius: 9px;
	color: var(--primary);
}

.movie-page .heading {
	color: var(--secondary);
	margin: 0;
}

.movie-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

@media (min-width: 600px) {
	.movie-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 992px) {
	.movie-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

.movie-card {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	border: 0;
	display: block;
}

.movie-card img,
.filler-poster-watchlist {
	// display: block;
	width: 100%;
	height: 246px;
	background-color: #dbdada;
	border-radius: 5px;
}
.filler-poster-watchlist {
	padding: 10px;
}

.movie-card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 246px;
	border: 2px solid transparent;
	transition: all 0.2s ease;
}

.movie-card:hover .overlay {
	border: 2px solid var(--secondary);
}

.movie-card .inner-card-controls {
	display: inline;
	background-color: red;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	padding: 3px;
	opacity: 0;
	transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
	opacity: 1;
}

.ctrl-btn {
	color: #fefefe;
	// background-color: transparent;
	// border: none;
	// transition: all 0.3s ease;
	// font-size: 1.25rem;
	padding: 5px;
	margin: 0;
	background: rgba(100, 121, 228, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(0.5px);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	&:hover {
		color: #fffa61;
		cursor: pointer;
	}
}

.movie-page .no-movies {
	color: #c4c4c4;
	font-size: 3rem;
	text-align: center;
}
