@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
	user-select: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
